@import "../styles/colors.css";
@import "../styles/typography.css";

.wholeWindow {
  position: relative;
 opacity: 0.5;
 padding-left: 23123px;
 padding-top: 234234px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: red;
 top: 0;
 width: rem(40040px);
 height: rem(4324234px);
 z-index: 2;
}

.formContainer {
  position: relative;
 display: block;
 margin: auto;
 width: 40%;
 background-color: white;
 height: 30%;
 z-index: 2;
 flex-direction: column;
}

.backdrop {
 position: fixed;
 z-index: 2;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(0,0,0,0.3);
 padding: 50;
}

.modal {
 background-color: #fff;
 z-index: 2;
 border-radius: 5;
 max-width: 500;
 min-height: 300;
 margin: 0 auto;
 padding: 30
}
