@import "../styles/colors.css";
@import "../styles/typography.css";

.floatingBox {
  position: fixed;
  height:rem(50px);
  top: rem(103px);
  width: 30%;
  padding-top: 1%;
  height: rem(80px);
  border-right: solid;
  border-color: darkgrey;
  border-bottom: solid;
  border-left: solid;
  border-left-color: darkgrey;
  border-width: thin;
  background-color: var(--silver);
  z-index: 1;
  overflow-x: hidden;
  justify-content: center;
}

.inputField {
  position: fixed;
  margin-left: rem(130px);
  overflow-x: hidden;
  margin-bottom: rem(130px);
  height:rem(35px);
  width: 20%;
  justify-content: center;
}

.label {
  position: fixed;
  overflow-x: hidden;
  margin-left: 2%;
  color: grey;
}
